mat-card-title {
  margin-bottom: 5px;
}

.card-container {
  margin: 5px;
}

.input {
  padding: 5px;
}

.inputarea {
  width: 100%;
}

.flexdiv {
  display: flex;
}

.media {
  width: 100%
}

.persons {
  width: 100%
}

.description {
  width: 100%
}

img {
  margin: 10px 20px 5px 0;
  align-self: flex-end;
}
