<div class="container">
  <div class="addWrapper">
    <div class="newPerson">
      <mat-icon class="icon">person_add</mat-icon>
      <mat-form-field class="input" >
        <mat-label>Vorname</mat-label>
        <input matInput (input)="onFirstnameChange($event.target.value)">
      </mat-form-field>
      <mat-form-field class="input" >
        <mat-label>Nachname</mat-label>
        <input matInput (input)="onLastnameChange($event.target.value)">
      </mat-form-field>
      <span class="spacer"></span>
      <button mat-raised-button color="primary" (click)="handleSubmit()">Speichern</button>
    </div>
  </div>
</div>
