<mat-card class="card-container" >
  <mat-card-title  style="display: flex; justify-content: space-between;">
    <span class="tourtitle">
      <mat-form-field>
        <mat-label>Aktivität</mat-label>
        <input type="input" matInput (input)="onActivationChange($event.target.value)">
      </mat-form-field>
    </span>
    <button mat-icon-button class="delete-icon" (click)="deleteTour()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>
    <form>
      <app-form [type]="this.mainType" (uploadEmitter)="getFromChild($event)"></app-form>
    </form>
  </mat-card-content>
</mat-card>
