<mat-toolbar>
  <button mat-icon-button class="menu-icon" (click)="this.openSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Tobis Bergbuch</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="home-icon" routerLink="/home">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button class="example-icon plus-icon" routerLink="/addtour">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button class="person-icon" routerLink="/persons">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
